.perspective {
  perspective: 1500px;
}

.flip-container {
  width: 100%;
  max-width: 1300%;
  height: 500px;
  position: relative;
  overflow: hidden; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.flipper {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  transform-origin: center; 
}

.flipped .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.back {
  transform: rotateY(180deg);
}


.image-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}


.image-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  overflow: hidden; 
}

.image-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../assets/signup/2.jpg') center/cover no-repeat; 
  opacity: 0.4; 
  z-index: 0; 
}

.image-section img {
  margin-left: 4em;
  position: relative; 
  z-index: 1; 
  width: 100%;
  height: auto;
  max-width: 100%;
}

